<body>
    <div>
        <ul class="navbar">
            <li>
                <a href="/"><b>CareLooker</b></a>
            </li>
            <li>
                <div class="hamburger active"></div>
            </li>
        </ul>
    </div>
    <div class="mobileMenu">
        <a id="login" href="/login">Log in</a>
        <div class="profile">


            <div class="profile-picture"></div>
        </div>
        </ul>
    </div>
</body>
<script src="/js/navbar.js"></script>