<body>
    <div>
        <ul class="navbar">
            <li>
                <a class="logo" href="/"><b>CareLooker</b></a>
            </li>
            <li>
                <div class="hamburger"></div>
                <% if(currentUser){%>

                    <a ref="/logout">Log out</a>
                    <% }else{ %>
                        <div class="navLinks active">
                            <a href="/register">Register</a>
                            <a href="/login">Log In</a>
                        </div>
                        <% } %>


            </li>
        </ul>
    </div>
    <div class="mobileMenu ">
        <a class="login " href="/login ">Log in</a>
        <div class="profile ">


            <div class="profile-picture "></div>
        </div>
        </ul>
    </div>
</body>
<script src="/js/navbar.js "></script>