<% layout('/layouts/bp') %>
    <link rel="stylesheet" type="text/css" href="css/header.css">
    <div class="main">
        <div class="contaier">
            <button class="navigation-btn"><a href="/hospitals">View all Michigan Hospitals</a></button>
            </button>
        </div>
    </div>