<% layout('/layouts/bp') %>
    <link rel="stylesheet" type="text/css" href="css/header.css">
    <div class="container"><button class="navigation-btn"><a href="/hospitals">
        View all Michigan Hospitals</a>
    </button></div>
    <div class="main">
    </div>