<% layout('/layouts/bp') %>
    <link rel="stylesheet" type="text/css" href="css/header.css">
    <div class="container"><a class="main-btn" href="/hospitals">
        View all Michigan Hospitals</a>
    </div>
    <div class="main">
    </div>